:root {
    --md-primary-fg-color:        #163852;
    --md-primary-fg-color--light: #ECEEF0;
    --md-primary-fg-color--dark:  #163852;
    --md-code-fg-color:  #0099DA;
    --md-code-hl-color: #0099DA;
    --md-code-hl-string-color: #0099DA;
  }

  